.hamburger {
        display: inline-block; 
    }
.menu {
        width: auto;
        width: 20%;
    }
 .nav{
        display: flex;
    }
.menu__item{
    list-style: none ; 
    padding-top: 16px;
    padding-bottom: 16px;
    transition: color 0.1s;
}
    .menu__item a {

        color: var(--bg-color);
        font-weight: 800;
        font-size: 2.5rem;
    }
    .menu ul{
        padding-inline-start: 0;
    }
    .panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100dvh;
        justify-content: center;
        margin: 0;
        background-color: black;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
    }

    .panel.is-active {
        transform: translate(0, 0);
        backdrop-filter: blur(13px);
    }

    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
        background-color: var(--bg-color);
    }

    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner:after,
    .hamburger.is-active .hamburger-inner:before {
        background-color: var(--bg-color);
    }
@media screen and (min-width:480px){
    .menu {
        width: auto;
        width: 30%;
    }
    .menu__item a {
        font-size: 3.5rem;
    }
}
@media screen and (min-width:768px){
    .menu {
        width: 40%;
    }
    .menu__item a {
        font-size: 4rem;
    }
}
@media screen and (min-width:1024px){
    @keyframes slideIn {
    0% {
        transform: translateX(170%);
    }
    100% {
        transform: translateX(0%);
    }
}
    .hamburger {
        display: none;
    }
    .menu {
        width: 60%;
        display: flex;
        transition: all 0.5s ease;
    }

    .menu__link:hover{
        color: var(--second-color);
        transition: color 0.1s;
    }
    .menu__list {
        display: flex;
        /*justify-content: space-around;*/
        flex-wrap: wrap;
    }
    .menu__link {
        font-size: 1rem;
        font-weight: 550;
        transition: all 1s;
        font-family: 'Courier New', Courier, monospace;
         font-style: italic;
        padding-right: 0;
        margin-right: 15px;
        color: var(--bg-color);
        transform: translateY(-100%);
        transition: all 0.5s ease;
    }
    .menu__item  {
        padding: 0;

    }
    .menu__item a {
        font-weight: 800;
        font-size: 1rem;

    }
    .panel {
        flex-direction: row;
        align-items: center;
        height: 2rem;
        justify-content: right;
        margin: 0;
        background-color: unset;
        width: 100%;
        position: unset;
        top: 0;
        right: 0;
        animation: slideIn 0.8s ease forwards;

    }
}